{% extends "base.html" %}
{% block page_title %}Aliasing Tags{% endblock page_title %}

{% block content %}
<section>
    <h1>Aliasing Tags</h1>
    <form target="_self" method="post" x-data="{
        selected_tags: [],
        target_tag: -1,
        search_query: '',
        add: function (tag) {
			if (this.selected_tags.map(e=>e.name).indexOf(tag) !== -1) return;
			this.selected_tags.push(tag);
		}
    }">
        {% csrf_token %}
        <input type="text" x-model="search_query" name="query" @keydown.enter="$event.preventDefault(); add()">
        <button type="button" hx-get="{% url 'otodb:query' 'tag' %}" hx-target="next div" hx-include="previous input">Search</button>
        <div class="query-results" x-data="{ query_action: text => { add(text); } }"></div>

        <div style="display: flex; flex-direction: row; gap: 2rem; align-items: center; margin-bottom: 1rem;" x-show="selected_tags.length">
            <table>
                <template x-for="(tag, i) in selected_tags">
                    <tr>
                        <td x-text="tag"></td>
                        <td>
                            <input type="text" hidden :name="'tag-'+i" x-model="tag">
                            <button type="button" @click="selected_tags = selected_tags.splice(i, 1)">X</button>
                        </td>
                    </tr>
                </template>
            </table>
            <h3 style="display: inline;">into:</h3>
            <select name="into" x-model="target_tag">
                <template x-for="(tag, i) in selected_tags">
                    <option x-text="tag" :value="i"></option>
                </template>
            </select> 
        </div>
        <input type="number" name="size" :value="selected_tags.length" hidden>
        <button x-show="selected_tags.length">Submit</button>
    </form>
</section>
{% endblock content %}
