<menu class="right">
	{% url 'otodb:tag' song.work_tag.id as t_url %}
	{% url 'otodb:song_relations' song.id as sr_url %}
	{% url 'otodb:song_edit' song.id as se_url %}
	{% url 'otodb:song_history' song.id as sh_url %}
	<a href="{{ t_url }}" {% if request.path == t_url %}class="current"{% endif %}>Song {{ song.id }}</a>
	<a href="{{ sr_url }}" {% if request.path == sr_url %}class="current"{% endif %}>Relations</a>
	<a href="{{ se_url }}" {% if request.path == se_url %}class="current"{% endif %}>Edit</a>
	<a href="{{ sh_url }}" {% if request.path == sh_url %}class="current"{% endif %}>History</a>
</menu>
