{% extends "base.html" %}
{% block page_title %}{{ tag }}{% endblock page_title %}

{% block content %}
{% include 'tags/tag_menu.html' %}
<section>
    <h1>Tag: {{ tag }}</h1>
    <h2>Category: {{ tag.get_category_display }}</h2>
    {% if tag.aliased_to %}
    This tag is aliased to <a href="{% url 'otodb:tag' tag.aliased_to.id %}">{{ tag.aliased_to }}</a>. You will be redirected in <span id="countdown"></span> seconds.
    <script>
        let cd = 3;
        let countdown = document.querySelector('#countdown');
        countdown.innerHTML = cd;
        setInterval(() => {
            countdown.innerHTML = --cd;
            if (cd === 0) window.location.replace('{% url 'otodb:tag' tag.aliased_to.id %}');
        }, 1000);
    </script>
    {% else %}
        {% if tag.aliases.all %}
        <h3>Also known as: {{ tag.aliases.all | join:', ' }}.</h3>
            
        {% endif %}
        {% if tag.wiki_page %}
        <p>
            <!-- INSERT WIKI EXCERPT --> <a href="#">Go to wiki...</a>
        </p>
        {% else %}
        <p>
            This tag does not yet have a wiki page. <a href="#">Go create one...</a>
        </p>
        {% endif %}
</section>
<section>
        <h2>Works tagged with "{{ tag }}"</h2>
        <table>
            <thead><tr><th>Thumbnail</th><th>Title</th><th>Rating</th><th>Tags</th><th>Sources</th></tr></thead><tbody>
            {% for work in works %}
                <tr>
                    <td><img src="{{ work.thumbnail }}" alt="{{ work }}" style="width:10rem;"></td>
                    <td><a href="{% url 'otodb:work' work.id %}">{{ work.title }}</a></td>
                    <td>{{ work.get_rating_display }}</td>
                    <td>{{ work.tags }}</td>
                    <td>{{ work.worksource_set.all|length }}</td>
                </tr>
            {% empty %}
                <tr>No results found!</tr>
            {% endfor %}
            </tbody>
        </table>
</section>
<section>
        <h2>Comments</h2>
        {% include 'comments.html' with object=tag %}
    {% endif %}
</section>
{% endblock content %}
