{% extends "base.html" %}
{% block page_title %}{{ tag }}{% endblock page_title %}

{% block content %}
{% include 'tags/tag_menu.html' %}
<section>
    <h1>Tag: {{ tag }}</h1>
    {% if tag.aliased_to %}
    This tag is aliased to <a href="{% url 'otodb:tag' tag.aliased_to.id %}">{{ tag.aliased_to }}</a>. You will be redirected in <span id="countdown"></span> seconds.
    <script>
        let cd = 3;
        let countdown = document.querySelector('#countdown');
        countdown.innerHTML = cd;
        setInterval(() => {
            countdown.innerHTML = --cd;
            if (cd === 0) window.location.replace('{% url 'otodb:tag' tag.aliased_to.id %}');
        }, 1000);
    </script>
    {% else %}
    <div>
        <span>Tags</span> >
        {% for t in tag.get_tree %}
        {% if not forloop.last %}<a href="{% url 'otodb:tag' t.id %}">{{ t }}</a> >{% else %} <span>{{ t }}</span> {% endif %}
        {% endfor %}
    </div>
        <h2>Category: {{ tag.get_category_display }}</h2>

        {% if tag.aliases.all %}
        <h3>Also known as: {{ tag.aliases.all | join:', ' }}.</h3>
            
        {% endif %}
        <hr>
        {% if tag.wiki_page %}
        <p x-data="{ content: (new DOMParser()).parseFromString(`{{ tag.wiki_page.page_rendered | safe }}`, 'text/html').children[0].innerText.substring(0,50) + '...' }" x-text="content">
        </p>
        <a href="{% url 'otodb:tag_wiki_page' tag.id %}">Go to wiki...</a>
        {% else %}
        <p>
            This tag does not yet have a wiki page. <a href="{% url 'otodb:tag_new_wiki_page' tag.id %}">Go create one...</a>
        </p>
        {% endif %}
    </section>
    {% if tag.mediasong %}
{% include 'songs/song_menu.html' with song=tag.mediasong %}

<section>
    <h2>Song: {{ tag.mediasong.title }}</h2>
    <table>
    <tr><th>Title</th><td>{{ tag.mediasong.title }}</td></tr>
    <tr><th>BPM</th><td>{{ tag.mediasong.bpm }}</td></tr>
    <tr><th>Author</th><td>{{ tag.mediasong.author }}</td></tr>
    </table>
</section>
{% endif %}
    {% if tag.tagwork_set.exists %}
    <section>
    <h2>Child tags</h2>
    <ul>
        {% for t in tag.tagwork_set.all %}
        <li><a href="{% url 'otodb:tag' t.id %}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    </section>
    {% endif %}
    <section>
        <h2>Works tagged with "{{ tag }}"</h2>
        {% if not works %}
        <p>This tag is an orphan. There are tagged works.</p>
        {% else %}
        <table>
            <thead><tr><th>Thumbnail</th><th>Title</th><th>Rating</th><th>Tags</th><th>Sources</th></tr></thead><tbody>
            {% for work in works %}
                <tr>
                    <td><img src="{{ work.thumbnail }}" alt="{{ work }}" style="width:10rem;"></td>
                    <td><a href="{% url 'otodb:work' work.id %}">{{ work.title }}</a></td>
                    <td>{{ work.get_rating_display }}</td>
                    <td>{{ work.tags }}</td>
                    <td>{{ work.worksource_set.all|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <span class="step-links">
            {% if works.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ works.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ works.number }} of {{ works.paginator.num_pages }}.
            </span>
    
            {% if works.has_next %}
                <a href="?page={{ works.next_page_number }}">next</a>
                <a href="?page={{ works.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        {% endif %}
    </section>
    <section>
        <h2>Comments</h2>
        {% include 'comments.html' with object=tag %}
    {% endif %}
</section>
{% endblock content %}
