otodb.net {
	handle /static/* {
		root * /srv/static
		file_server
	}

	handle_path /admin* {
		reverse_proxy backend:8000
	}

	handle_path /api* {
		reverse_proxy backend:8000
	}

	handle_path /static* {
		reverse_proxy backend:8000
	}

	handle /* {
		reverse_proxy frontend:5173
	}
}
