# Django docs can be found by removing the `OTODB` prefix and substituting `VAR`
# https://docs.djangoproject.com/en/4.2/ref/settings/#std-setting-VAR

DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Required for production
OTODB_SECRET_KEY=your-secret-key
OTODB_ALLOWED_HOSTS=.example.com,backend
OTODB_CSRF_TRUSTED_ORIGINS=https://*.example.com
OTODB_COOKIES_FILE=cookies.txt
OTODB_FRONTEND_DOMAIN=otodb.net
OTODB_EMAIL_HOST=
OTODB_EMAIL_PORT=
OTODB_EMAIL_HOST_USER=
OTODB_EMAIL_HOST_PASSWORD=
OTODB_PROTECT_API_DOCS=True

# Other env vars
OTODB_DEBUG=False
OTODB_TIME_ZONE=UTC
OTODB_INTERNAL_IPS=127.0.0.1

# ---

# Database settings; pick a backend, and if using postgres, pick one of the blocks to use
OTODB_DB_BACKEND=sqlite3
# OTODB_DB_BACKEND=postgresql

OTODB_DB_SERVICE=
OTODB_DB_PASSFILE=

OTODB_DB_NAME=db
OTODB_DB_USER=
OTODB_DB_PASSWORD=
OTODB_DB_HOST=
OTODB_DB_PORT=

# Global configuration settings
OTODB_CONF_SITE_NAME="otoDB"

# CDN settings
OTODB_CDN_BUCKET_NAME=
OTODB_CDN_ENDPOINT_URL=
OTODB_CDN_ACCESS_KEY=
OTODB_CDN_SECRET_KEY=
OTODB_CDN_HOST=
