{% extends "base.html" %}
{% block page_title %}Upload Cookies{% endblock page_title %}

{% block content %}
<section>
    <h1>Upload Cookies</h1>
    <p>
        If queries stop working, please update browser cookies (in Mozilla format) from a designated account.
    </p>
    <form target="_self" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
      <input type="submit"/>
    </form>
</section>
{% endblock content %}
