{% load otodb.helpers %}
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% filter suffix:' |' %}{% block page_title %}{% endblock page_title %}{% endfilter %} {{ config.site_name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
		<meta name="og:site_name" content="{{ config.site_name }}">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		 <nav>
		   <a href="{% url 'otodb:index' %}">otoDB</a>
		   {% if user.is_staff %}
		   <a href="{% url 'admin:index' %}">Admin View</a>
		   {% endif %}
		   <form target="_self" method="get" action="/search">
			 <select required name="type" id="search-type">
			   <option value="work">Work</option>
			   <option value="song">Song</option>
			   <option value="tag">Tag</option>
			   <option value="wiki">Wiki</option>
			 </select>
			 <input type="search" id="search" name="query" placeholder="Search..."/>
			 <input type="submit" hidden/>
		   </form>
			<hr>
		   <!-- <a href="javascript:alert('mmtroll')">Forum</a> -->

		   {% if user.is_authenticated %}
		   <a href="{% url 'otodb:new_work' %}">Add a new work</a>
		   <a href="{% url 'otodb:profile' user.id %}">My Profile</a>
		   <a href="{% url 'otodb:user_lists' user.id %}">My Lists</a>
		   <a href="{% url 'otodb:logout' %}">Logout</a>
		   {% else %}
		   <a href="{% url 'otodb:login' %}">Login</a>
		   <a href="{% url 'otodb:register' %}">Register</a>
		   {% endif %}
		 </nav>
		<main>
		  {% block content %}{% endblock content %}
		</main>
	</body>
</html>
