{% extends "base.html" %}
{% block page_title %}Home{% endblock page_title %}

{% block content %}
<section>
    <h1>{{ config.site_name }}</h1>
	<h3>Welcome, {{ user.username|default:"Anonymous" }}!</h3>
	<p>
		otoDB is currently in a closed alpha. Please contact the administrators for questions.
	</p>
	{% if random_work %}
		<h2>Random work: <a href="{% url 'otodb:work' random_work.id %}">{{ random_work.title }}</a></h2><img style="width:25rem;" src="{{ random_work.thumbnail }}" alt="{{ random_work.title }}"></img>
	{% endif %}
</section>
{% endblock content %}
