{% extends "base.html" %}
{% block page_title %}Search Results{% endblock page_title %}

{% block content %}
<section>
    <h1>{{ type.capitalize }} Search: {{ query }}</h1>
    {% if not results %}
    <p>No results found!</p>
    {% else %}
        <table>
        {% if type == 'work' %}
            <thead><tr><th>Thumbnail</th><th>Title</th><th>Rating</th><th>Tags</th><th>Sources</th></tr></thead><tbody>
            {% for entry in results %}
                <tr>
                    <td><img src="{{ entry.thumbnail }}" alt="{{ entry }}" style="width:10rem;"></td>
                    <td><a href="{% url 'otodb:work' entry.id %}">{{ entry.title }}</a></td>
                    <td>{{ entry.get_rating_display }}</td>
                    <td>{{ entry.tags }}</td>
                    <td>{{ entry.worksource_set.all|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% elif type == 'tag' %}
            <thead><tr><th>Name</td><td>Aliases</td></tr></thead><tbody>
            {% for entry in results %}
                <tr><td><a href="{% url 'otodb:tag' entry.id %}">{{ entry.name }}</a></td><td>{{ entry.aliases.all|join:',' }}</td></tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
    {% endif %}
</section>
{% endblock content %}
