{% extends "base.html" %}
{% block page_title %}Search Results{% endblock page_title %}

{% block content %}
<section>
    <h1>{{ type.capitalize }} Search: {{ query }}</h1>
    {% if not results %}
    <p>No results found!</p>
    {% else %}
        <table>
        {% if type == 'work' %}
            <thead><tr><th>Thumbnail</th><th>Title</th><th>Rating</th><th>Tags</th><th>Sources</th></tr></thead><tbody>
            {% for entry in results %}
                <tr>
                    <td><img src="{{ entry.thumbnail }}" alt="{{ entry }}" style="width:10rem;"></td>
                    <td><a href="{% url 'otodb:work' entry.id %}">{{ entry.title }}</a></td>
                    <td>{{ entry.get_rating_display }}</td>
                    <td>{{ entry.tags }}</td>
                    <td>{{ entry.worksource_set.all|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% elif type == 'tag' %}
            <thead><tr><th>Name</td><td>Aliases</td></tr></thead><tbody>
            {% for entry in results %}
                <tr><td><a href="{% url 'otodb:tag' entry.id %}">{{ entry.name }}</a></td><td>{{ entry.aliases.all|join:',' }}</td></tr>
            {% endfor %}
            </tbody>
        {% elif type == 'song' %}
        <thead><tr><th>Title</th><th>BPM</th><th>Author</th><th>Tags</th></tr></thead><tbody>
            {% for entry in results %}
                <tr>
                    <td><a href="{% url 'otodb:song' entry.id %}">{{ entry.title }}</a></td>
                    <td>{{ entry.bpm }}</td>
                    <td>{{ entry.author }}</td>
                    <td>{{ entry.tags }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
    {% endif %}
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?query={{query}}&type={{type}}&page=1">&laquo; first</a>
            <a href="?query={{query}}&type={{type}}&page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a href="?query={{query}}&type={{type}}&page={{ results.next_page_number }}">next</a>
            <a href="?query={{query}}&type={{type}}&page={{ results.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</section>
{% endblock content %}
