html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
	background-color: darkgray;
	display:grid;
	gap: 1rem;
	grid-template-columns: 1fr 4fr;
	padding: 15rem 5rem 2rem 2rem;
}

body::after {
	content: 'the otomad/ytpmv database';
	position: absolute;
	top: 7rem;
	left: 10rem;
	font-style: italic;
	font-family: mono;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 3rem 1rem;
	gap: 1rem;
	background-color: lightgray;
	border: 2px solid white;
}

main {
	margin: auto;
	width: 100%;
	max-width: 70rem;
	min-height: 20rem;
	background-color: lightgray;
	border: 2px solid white;
	padding: 1rem 2rem;
	text-align: center;
}

main > h1 {
	text-align: initial;
}
