{% extends "base.html" %}
{% block page_title %}Editing {{ song.title }}{% endblock page_title %}

{% block content %}
{% include 'songs/song_menu.html' %}
<section>
  <h1>Editing song: "{{ song.title }}"</h1>
  <form action="asdasdsad">
    <table>
      {{ form.as_table }}
    </table>
  </form>
  <input type="submit" value="Confirm"/>
</section>
<section>
  <h2>Edit relations</h2>
  <form target="_self" action="{% url 'otodb:song_edit_relations' song.id %}" method="post" x-data="{
    relations: [
      {% for relation in relations %}
      {
        direction: {% if relation.A == song %}0{% else %}1{% endif %},
        relation: {{ relation.relation }},
        id: {% if relation.A == song %}{{ relation.B.id }}{% else %}{{ relation.A.id }}{% endif %},
        title: {% if relation.A == song %}`{{ relation.B.title }}`{% else %}`{{ relation.A.title }}`{% endif %}
      },
      {% endfor %}
    ]
  }">
      {% csrf_token %}
      <button type="button" @click="relations.push({id: -1, title: '', relation: 0, direction: 0})">Add a new relation</button>
			<input type="number" name="size" :value="relations.length" hidden>

    <table>
      <tbody><template x-for="(relation, i) in relations">
        <tr>
          <td>
            This song
          </td>
          <td>
            <select x-model="relation.direction" :name="'direction-'+i">
              <option value="0">→</option>
              <option value="1">←</option>
            </select>
          </td>
          <td x-data="{ locked_in: relation.title !== '' }" x-init="htmx.process($el)">
            <input type="number" :name="'song-'+i" x-model="relation.id" hidden>
            <input type="text" x-model="relation.title" name="query" @keydown.enter="$event.preventDefault();" placeholder="Search..." :disabled="locked_in">
            <button type="button" hx-get="{% url 'otodb:query' 'song' %}" hx-target="next div" hx-include="previous input" x-show="!locked_in" :disabled="relation.title===''">Search</button>
            <div class="query-results" x-data="{ query_action: ({id, title}) => { if (relations.map(r=>r.id).includes(id) || id === {{ song.id }}) return; relation.title = title; relation.id = id; locked_in = true; $el.innerHTML = ''; } }"></div>
            <button type="button" @click="locked_in = false; relation.id = -1;" x-show="locked_in">Change</button>
          </td>
          <td>
            <select x-model="relation.relation" :name="'relation-'+i">
              {% for i, type in relation_types.choices %}
              <option value="{{ i }}">{{ type }}</option>
              {% endfor %}
            </select>
          </td>
          <td><button type="button" @click="relations.splice(i, 1)">X</button></td>
        </tr>
      </template></tbody>
    </table>
		<button :disabled="relations.some(r => r.id <= 0)">Submit</button>
  </form>
</section>
{% endblock content %}
