{% extends "base.html" %}
{% block page_title %}{{ title }}{% endblock page_title %}

{% block content %}
<section>
<h1>{{ title }}</h1>
<p>Currently accepted sites:</p>
<ul>
  <li>YouTube</li>
  <li>Niconico</li>
  <li>Bilibili</li>
  <li>SoundCloud</li>
</ul>
<form target="_self" method="post" x-data="{ submitted: false }" @submit="submitted ? $event.preventDefault() : submitted = true">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    </table>
  <input type="submit" value="Next" x-show="!submitted"/>
  <progress aria-busy="true" x-show="submitted"></progress>
</form>
</section>
{% endblock content %}
