{% extends "base.html" %}
{% block page_title %}{{ title }}{% endblock page_title %}

{% block content %}
<section>
<h1>{{ title }}</h1>
<form target="_self" method="post" x-data="{ work_id: -1, submitted: false }" @submit="submitted ? $event.preventDefault() : submitted = true">{% csrf_token %}
<table style="width: 100%;">
		<tr>
			<th>Title</th>
			<td>{{ source.title }}</td>
		</tr>
		<tr>
			<th>Desciption</th>
            <td >{{ source.description }}</td>
		</tr>
		<tr>
			<th>Platform</th>
			<td>{{ source.get_platform_display }}</td>
		</tr>
		<tr>
			<th>Date</th>
            <td>{{ source.published_date }}</td>
		</tr>
		<tr>
			<th>Resolution</th>
			<td>{% if source.work_width %}{{ source.work_width }}x{{ source.work_height }}{% else %}Not Applicable{% endif %}</td>
		</tr>
		<tr>
			<th>Thumbnail</th>
			<td><img src="{{ source.thumbnail }}" alt="{{ source.title }}" style="max-width: 20rem;"></td>
		</tr>
</table>
<table>
	{{ form.as_table }}
</table>
	{% if suggestions %}
	<p>Are you sure you want to add this work? Perhaps it's already in the database, consider adding this source to one of the following works instead:</p>
	<table>
	<thead><tr><th>Thumbnail</th><th>Title</th><th>Rating</th><th>Tags</th><th>Sources</th><th>Add to this work instead</th></tr></thead><tbody>
	{% for entry in suggestions %}
				<tr>
					<td><img src="{{ entry.thumbnail }}" alt="{{ entry }}" style="width:10rem;"></td>
					<td><a href="{% url 'otodb:work' entry.id %}">{{ entry.title }}</a></td>
					<td>{{ entry.get_rating_display }}</td>
					<td>{{ entry.tags }}</td>
					<td>{{ entry.worksource_set.all|length }}</td>
					<td><input type="radio" value="{{ entry.id }}" x-model="work_id"></td>
				</tr>
			{% endfor %}
	</tbody>
	</table>
	<div>
		<input type="radio" value="-1" x-model="work_id" id="new-work"><label for="new-work">Add this source to a new work.</label>
	</div>
	
	{% else %}
	<input type="number" hidden value="-1">
	{% endif %}
	<input type="submit" value="Submit" x-show="!submitted"/>
	<progress aria-busy="true" x-show="submitted"></progress>
</form>

</section>

{% endblock content %}
