{% extends "base.html" %}
{% block page_title %}Editing {{ work.title }}{% endblock page_title %}

{% block content %}
{% include 'works/work_menu.html' %}
<section>
  <h1>Editing work: "{{ work.title }}"</h1>
  <div style="display: flex;align-items: center;gap: 1rem;">
    <form target="_self" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Confirm"/>
    </form>
    <p>or import...</p>
    <div>
  <table>
	<thead><tr>
			<th></th><th>Title</th><th>Desciption</th><th>Platform</th><th>Date</th><th>Official</th><th>Link</th>
	</tr></thead>
	<tbody>
		{% for source in work.worksource_set.all %}
		<tr x-data="{ title: `{{ source.title }}`, thumbnail: `{{ source.thumbnail }}`, description: `{{ source.description }}`, expanded: false }">
      <td><button @click="
        document.querySelector(`input[name='title']`).value = title;
        document.querySelector(`input[name='thumbnail']`).value = thumbnail;
        document.querySelector(`textarea[name='description']`).value = description;
        "><</button></td>
			<td>{{ source.title }}</td><td x-text="expanded ? description : description.slice(0,8) + '[...expand]'" @click="expanded=!expanded"></td>
				<td>{{ source.get_platform_display }}</td><td>{{ source.published_date }}
			</td><td>{{ source.work_origin|yesno:"No,Yes" }}</td>
			<td><a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">Link</a></td>
		</tr>
		{% endfor %}
	</tbody>
  </table>
    </div>
  </div>
</section>
<section>
  <h2>Edit relations</h2>
  <form target="_self" action="{% url 'otodb:work_edit_relations' work.id %}" method="post" x-data="{
    relations: [
      {% for relation in relations %}
      {
        direction: {% if relation.A == work %}0{% else %}1{% endif %},
        relation: {{ relation.relation }},
        id: {% if relation.A == work %}{{ relation.B.id }}{% else %}{{ relation.A.id }}{% endif %},
        title: {% if relation.A == work %}`{{ relation.B.title }}`{% else %}`{{ relation.A.title }}`{% endif %}
      },
      {% endfor %}
    ]
  }">
      {% csrf_token %}
      <button type="button" @click="relations.push({id: -1, title: '', relation: 0, direction: 0})">Add a new relation</button>
			<input type="number" name="size" :value="relations.length" hidden>

    <table>
      <tbody><template x-for="(relation, i) in relations">
        <tr>
          <td>
            This work
          </td>
          <td>
            <select x-model="relation.direction" :name="'direction-'+i">
              <option value="0">→</option>
              <option value="1">←</option>
            </select>
          </td>
          <td x-data="{ locked_in: relation.title !== '' }" x-init="htmx.process($el)">
            <input type="number" :name="'work-'+i" x-model="relation.id" hidden>
            <input type="text" x-model="relation.title" name="query" @keydown.enter="$event.preventDefault();" placeholder="Search..." :disabled="locked_in">
            <button type="button" hx-get="{% url 'otodb:query' 'work' %}" hx-target="next div" hx-include="previous input" x-show="!locked_in" :disabled="relation.title===''">Search</button>
            <div class="query-results" x-data="{ query_action: ({id, title}) => { if (relations.map(r=>r.id).includes(id) || id === {{ work.id }}) return; relation.title = title; relation.id = id; locked_in = true; $el.innerHTML = ''; } }"></div>
            <button type="button" @click="locked_in = false; relation.id = -1;" x-show="locked_in">Change</button>
          </td>
          <td>
            <select x-model="relation.relation" :name="'relation-'+i">
              {% for i, type in relation_types.choices %}
              <option value="{{ i }}">{{ type }}</option>
              {% endfor %}
            </select>
          </td>
          <td><button type="button" @click="relations.splice(i, 1)">X</button></td>
        </tr>
      </template></tbody>
    </table>
		<button :disabled="relations.some(r => r.id <= 0)">Submit</button>
  </form>
</section>
{% endblock content %}
