{% extends "base.html" %}
{% block page_title %}{{ tag }}{% endblock page_title %}

{% block content %}
<section>
    <h1>Merging Works</h1>
    <form target="_self" method="post" x-data="{
        works: [{title: '', description: '', rating: -1, id: -1, thumbnail: ''}, {title: '', description: '', rating: -1, id: -1, thumbnail: ''}],
        selecting: { title: -1, description: -1, rating: -1, thumbnail: -1 },
        unselect_all: function () { this.selecting = { title: -1, description: -1, rating: -1, thumbnail: -1 }; }
    }">
        {% csrf_token %}
        <table>
            <tr><th></th>
                <td>
                    <input type="text" x-model="works[0].title" name="query" @keydown.enter="$event.preventDefault();" placeholder="Search..." :disabled="works[0].id > 0">
                    <button type="button" hx-get="{% url 'otodb:query' 'work' %}" hx-target="next div" hx-include="previous input" x-show="works[0].id <= 0" :disabled="works[0].title===''">Search</button>
                    <div class="query-results" x-data="{ query_action: work => { if (work.id == works[1].id) return; works[0] = work; $el.innerHTML = ''; } }"></div>
                    <button type="button" @click="works[0].id = -1; unselect_all();" x-show="works[0].id > 0">Change</button>
                </td>
                <td>Keep Left</td><td>Keep Right</td>
                <td>
                    <input type="text" x-model="works[1].title" name="query" @keydown.enter="$event.preventDefault();" placeholder="Search..." :disabled="works[1].id > 0">
                    <button type="button" hx-get="{% url 'otodb:query' 'work' %}" hx-target="next div" hx-include="previous input" x-show="works[1].id <= 0" :disabled="works[1].title===''">Search</button>
                    <div class="query-results" x-data="{ query_action: work => { if (work.id == works[0].id) return; works[1] = work; $el.innerHTML = ''; } }"></div>
                    <button type="button" @click="works[1].id = -1; unselect_all();" x-show="works[1].id > 0">Change</button>
                </td>
                <th></th></tr>
            <tr><th>Title</th>
                <td><input type="text" :disabled="works[0].id <= 0 || selecting.title != 0" x-model="works[0].title"></td>
                <td><input type="radio" :disabled="works[0].id <= 0" :checked="selecting.title == 0" @click="selecting.title = 0"></td>
                <td><input type="radio" :disabled="works[1].id <= 0" :checked="selecting.title == 1" @click="selecting.title = 1"></td>
                <td><input type="text" :disabled="works[1].id <= 0 || selecting.title != 1" x-model="works[1].title"></td>
                <th>Title</th></tr>
            <tr><th>Description</th>
                <td><textarea :disabled="works[0].id <= 0 || selecting.description != 0" x-model="works[0].description"></textarea></td>
                <td><input type="radio" :disabled="works[0].id <= 0" :checked="selecting.description == 0" @click="selecting.description = 0"></td>
                <td><input type="radio" :disabled="works[1].id <= 0" :checked="selecting.description == 1" @click="selecting.description = 1"></td>
                <td><textarea :disabled="works[1].id <= 0 || selecting.description != 1" x-model="works[1].description"></textarea></td>
                <th>Description</th></tr>
            <tr><th>Thumbnail</th>
                <td><input type="text" :disabled="works[0].id <= 0 || selecting.thumbnail != 0" x-model="works[0].thumbnail"><img style="width: 15rem;" :src="works[0].thumbnail" :alt="works[0].title"></td>
                <td><input type="radio" :disabled="works[0].id <= 0" :checked="selecting.thumbnail == 0" @click="selecting.thumbnail = 0"></td>
                <td><input type="radio" :disabled="works[1].id <= 0" :checked="selecting.thumbnail == 1" @click="selecting.thumbnail = 1"></td>
                <td><input type="text" :disabled="works[1].id <= 0 || selecting.thumbnail != 1" x-model="works[1].thumbnail"><img style="width: 15rem;" :src="works[1].thumbnail" :alt="works[1].title"></td>
                <th>Thumbnail</th></tr>
            <tr><th>Rating</th>
                <td><select :disabled="works[0].id <= 0 || selecting.rating != 0" x-model="works[0].rating">
                    <option value="0">General</option><option value="1">Sensitive</option><option value="2">Explicit</option>
                </select></td>
                <td><input type="radio" :disabled="works[0].id <= 0" :checked="selecting.rating == 0" @click="selecting.rating = 0"></td>
                <td><input type="radio" :disabled="works[1].id <= 0" :checked="selecting.rating == 1" @click="selecting.rating = 1"></td>
                <td><select :disabled="works[1].id <= 0 || selecting.rating != 1" x-model="works[1].rating">
                    <option value="0">General</option><option value="1">Sensitive</option><option value="2">Explicit</option>
                </select></td>
                <th>Rating</th></tr>
        </table>

        <input hidden type="number" name="left" x-model="works[0].id">
        <input hidden type="number" name="right" x-model="works[1].id">
        <input hidden type="text" name="title" x-model="works[selecting.title].title">
        <textarea hidden x-model="works[selecting.description].description" name="description"></textarea>
        <input hidden type="text" x-model="works[selecting.thumbnail].thumbnail" name="thumbnail">
        <input hidden type="number" name="rating" x-model="works[selecting.rating].rating">
        <button :disabled="works[0].id <= 0 || works[1].id <= 0 || (Object.values(selecting).some(e => e < 0))">Submit</button>
    </form>
</section>
{% endblock content %}
