{% extends "base.html" %}
{% block page_title %}{{ work.title }}{% endblock page_title %}

{% block content %}
{% include 'works/work_menu.html' %}
<section>
  <h1>{{ work.title }}</h1>
  <div id="infobox">
	<img src="{{ work.thumbnail }}" alt="{{ work.title }}">
	<div>
		<table>
			<tr><th>Title</th><td>{{ work.title }}</td></tr>
			<tr><th>Description</th><td>{{ work.description | linebreaksbr }}</td></tr>
			<tr><th>Rating</th><td>{{ work.get_rating_display }}</td></tr>
		</table>
		{% if user.is_authenticated %}
		<h2>User options</h2>
		<table>
			<tr>
				<th>Lists</th>
				<td x-data="{ collapsed: true }">
					<input type="number" hidden value="{{ work.id }}" name="work_id">
					<button hx-target="next div" hx-get="{% url 'otodb:query' 'list' %}" hx-trigger="click once" @click="collapsed = !collapsed" hx-include="previous input">Add/Remove...</button>
					<div class="query-results" x-show="!collapsed"></div>
				</td>
			</tr>
		</table>
		{% endif %}
	</div>
	<div style="grid-column: 1 / span 2; border-top: var(--otodb-faint-content) 1px solid; margin-top: 2rem;" x-data="{
		edited: false,
		mode: 0, // 0 - default, 1 - edit, 2 - alias
		alias: false,
		tags: [
			{% for tag in work.tags.all %}
			{
				url: `{% url 'otodb:tag' tag.id %}`,
				name: `{{ tag }}`,
				selected: false
			},
			{% endfor %}
		],
		new_tag: '',
		add: function () {
			const trim = this.new_tag.trim();
			if (trim === '' || this.tags.map(e=>e.name.toLowerCase()).indexOf(trim.toLowerCase()) !== -1) return;
			this.tags.push({url: '#', name: trim});
			this.new_tag = '';
			this.edited = true;
		},
		merge_into: -1,
		selected: []
	}" x-effect="selected = tags.filter(t => t.selected)">
		<form target="_self" action="{% url 'otodb:work_set_tags' work.id %}" method="post">
			{% csrf_token %}
			<input type="number" name="size" :value="tags.length" hidden>
			<ul id="work-tags">
				<template x-for="(tag, i) in tags">
					<li>
						<a :href="tag.url" x-text="tag.name"></a>
						<button type="button" x-show="mode===1" @click="tags.splice(i, 1); edited = true;">X</button>
						<input type="text" hidden :name="'tag-'+i" x-model="tag.name">
						<input type="checkbox" x-show="mode===2" x-model="tag.selected" name="mode === 2 ? into : ''" :disabled="merge_into >= 0">
					</li>
				</template>
				<li x-show="mode===1">
					<input type="text" x-model="new_tag" name="query" @keydown.enter="$event.preventDefault(); add()">
					<button type="button" hx-get="{% url 'otodb:query' 'tag' %}" hx-target="next div" hx-include="previous input">Search</button>
					<div class="query-results" x-data="{ query_action: text => { new_tag = text; $el.innerHTML = ''; } }"></div>
					<button x-ref="add" type="button" @click="add()">Add</button>
				</li>
			</ul>
			<button x-show="mode===1" type="submit" @click="edited ? void(0) : ($event.preventDefault(), mode = 0);">Done</button>
		</form>
		{% if user.is_authenticated %}
		<button @click="mode=1" x-show="!mode" type="button">Edit</button>
		<button @click="mode=2" x-show="!mode" type="button">Alias</button>
		{% endif %}
		<button x-show="mode===2 && merge_into < 0" type="button" :disabled="selected.length === 0" @click="merge_into=0">Continue</button>
		<form x-show="merge_into >= 0" target="_self" action="{% url 'otodb:tag_alias' %}" method="post">
			<h3 >... into:</h3>
			{% csrf_token %}
			<input type="number" name="size" :value="selected.length" hidden>
			<input type="number" name="into" :value="merge_into" hidden>
			<ul>
				<template x-for="(tag, i) in selected">
					<li>
						<input type="text" hidden :name="'tag-'+i" x-model="tag.name">
						<label x-text="tag.name"></label>
						<input type="radio" :value="i" x-model="merge_into"></input>
					</li>
				</template>
			</ul>
			<button>Submit</button>
		</form>
	</div>
  </div>
</section>
<menu class="right">
	<a href="{% url 'otodb:work_new' %}?work_id={{ work.id }}">Add source</a>
</menu>
<section>
  <h2>Work Sources</h2>
  <table style="width: 100%;">
	<thead><tr>
			<th>Title</th>
			<th>Desciption</th>
			<th>Platform</th>
			<th>Date</th>
			<th>Official</th>
			<th>Available</th>
			<th>Resolution</th>
			<th>Link</th>
			{% if user.is_authenticated %}
			<th>Refresh</th>
			{% endif %}
	</tr></thead>
	<tbody>
		{% for source in work.worksource_set.all %}
		<tr x-data="{ description: `{{ source.description }}`, expanded: false }">
			<td>{{ source.title }}</td><td x-text="expanded ? description : description.slice(0,8) + '[...expand]'" @click="expanded=!expanded"></td>
				<td>{{ source.get_platform_display }}</td><td>{{ source.published_date }}
			</td><td>{{ source.work_origin|yesno:"No,Yes" }}</td><td>{{ source.work_status|yesno:"No,Yes" }}</td>
			<td>{{ source.work_width }}x{{ source.work_height }}</td><td><a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">Link</a></td>
			{% if user.is_authenticated %}
			<td>
				<form action="/source/{{ source.id }}/refresh" method="post">
					{% csrf_token %}
					<button type="submit">Refresh</button>
				</form>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
  </table>
</section>
<section>
  <h2>Comments</h2>
  {% include 'comments.html' with object=work %}
</section>
{% endblock content %}
{% block extra-css %}
<style>
	#work-tags {
		display: flex;
		gap: .3rem 2rem;
		flex-wrap: wrap;
	}
	
	#work-tags > li {
		margin: 0;
	}
	
	#infobox {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 2rem;
		align-items: center;
	}
	
	#infobox table th {
		background-color: var(--otodb-fainter-bg);
	}
	#infobox table td {
		background-color: var(--otodb-faint-bg);
	}
	</style>
{% endblock extra-css %}
