@import 'tailwindcss';
@source "./*.{html,js}";

:root {
    --otodb-color-bg-fainter: white;
    --otodb-color-content-primary: black;
    --otodb-color-bg-faint: color-mix(in hsl, var(--otodb-color-bg-fainter) 95%, var(--otodb-color-content-primary));
    --otodb-color-bg-primary: color-mix(in hsl, var(--otodb-color-bg-fainter) 90%, var(--otodb-color-content-primary));
    --otodb-color-content-faint: color-mix(in hsl, var(--otodb-color-bg-primary) 12.5%, var(--otodb-color-content-primary));
    --otodb-color-content-fainter: color-mix(in hsl, var(--otodb-color-bg-primary) 30%, var(--otodb-color-content-primary));
}

@media (prefers-color-scheme: dark) {
    :root {
        --otodb-color-bg-primary: black;
        --otodb-color-content-primary: white;
        --otodb-color-bg-faint: color-mix(in hsl, var(--otodb-color-bg-primary) 90%, var(--otodb-color-content-primary));
        --otodb-color-bg-fainter: color-mix(in hsl, var(--otodb-color-bg-primary) 80%, var(--otodb-color-content-primary));
    }
}

@theme inline {
    --color-otodb-bg-primary: var(--otodb-color-bg-primary);
    --color-otodb-bg-faint: var(--otodb-color-bg-faint);
    --color-otodb-bg-fainter: var(--otodb-color-bg-fainter);
    --color-otodb-content-primary: var(--otodb-color-content-primary);
    --color-otodb-content-faint: var(--otodb-color-content-faint);
    --color-otodb-content-fainter: var(--otodb-color-content-fainter);
}

body {
    width: 640px;
    height: 400px;
    @apply m-0 p-0 flex flex-col overflow-hidden;
    background-color: var(--otodb-color-bg-primary);
    color: var(--otodb-color-content-primary);
    font-family: system-ui, -apple-system, sans-serif;
}

#status:not(:empty) {
    @apply p-4;
    min-height: 20px;
}

#results a {
    @apply no-underline;
    color: var(--otodb-color-content-primary);
}

#results a.name-match {
    border-style: dashed;
}

.tag-tree > li > .tag-tree::before {
    content: '\21B3';
}

.tag-tree > li > .tag-tree > li > .tag-tree {
    @apply ml-2;
}
