@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-otodb-bg-primary: var(--otodb-color-bg-primary);
	--color-otodb-bg-faint: var(--otodb-color-bg-faint);
	--color-otodb-bg-fainter: var(--otodb-color-bg-fainter);

	--color-otodb-content-primary: var(--otodb-color-content-primary);
	--color-otodb-content-faint: var(--otodb-color-content-faint);
	--color-otodb-content-fainter: var(--otodb-color-content-fainter);
}

:root:has([data-theme^='light']) {
	--otodb-color-bg-primary: white;
	--otodb-color-content-primary: black;
}

@media (prefers-color-scheme: light) {
	:root:has([data-theme='auto']) {
		--otodb-color-bg-primary: white;
		--otodb-color-content-primary: black;
	}
}

:root:has([data-theme^='dark']) {
	--otodb-color-bg-primary: black;
	--otodb-color-content-primary: white;
}

@media (prefers-color-scheme: dark) {
	:root:has([data-theme='auto']) {
		--otodb-color-bg-primary: black;
		--otodb-color-content-primary: white;
	}
}

@custom-variant dark {
	&:where([data-theme^='dark'] *) {
		@slot;
	}

	@media (prefers-color-scheme: dark) {
		&:where([data-theme='auto'] *) {
			@slot;
		}
	}
}

@custom-variant light {
	&:where([data-theme^='light'] *) {
		@slot;
	}

	@media (prefers-color-scheme: light) {
		&:where([data-theme='auto'] *) {
			@slot;
		}
	}
}

:root {
	--otodb-color-bg-faint: color-mix(
		in hsl,
		color-mix(in hsl, var(--otodb-color-bg-primary) 90%, var(--otodb-color-content-primary)) 80%,
		transparent
	);
	--otodb-color-bg-fainter: color-mix(
		in hsl,
		var(--otodb-color-bg-primary) 80%,
		var(--otodb-color-content-primary)
	);

	--otodb-color-content-faint: color-mix(
		in hsl,
		var(--otodb-color-bg-primary) 12.5%,
		var(--otodb-color-content-primary)
	);
	--otodb-color-content-fainter: color-mix(
		in hsl,
		var(--otodb-color-bg-primary) 30%,
		var(--otodb-color-content-primary)
	);

	--otodb-color-ins: color-mix(in hsl, var(--otodb-color-bg-faint) 35%, green);
	--otodb-color-del: color-mix(in hsl, var(--otodb-color-bg-faint) 35%, red);
}

@layer base {
	thead {
		background-color: var(--otodb-color-bg-primary);
	}

	tbody > tr:nth-of-type(odd) {
		background-color: var(--otodb-color-bg-fainter);
	}

	ul {
		@apply list-inside list-disc;
	}
	ol {
		@apply list-inside list-decimal;
	}

	a {
		text-decoration: underline 1px;
	}

	hr {
		width: 100%;
		color: var(--otodb-color-content-primary);
	}

	th,
	td {
		padding: 0.1rem 0.2rem;
		border: 1px var(--otodb-color-bg-faint) solid;
	}

	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='time'],
	input[type='url'],
	input[type='week'],
	textarea {
		border: 1px solid color-mix(in hsl, var(--otodb-color-content-fainter) 60%, transparent);
		background-color: color-mix(in hsl, var(--otodb-color-bg-primary) 80%, transparent);
	}

	input[type='submit'],
	input[type='reset'],
	input[type='button'],
	select,
	button {
		border: 1px solid white;
		outline: none;
		background-color: var(--otodb-color-bg-faint);
		&:disabled {
			background-color: var(--otodb-color-bg-primary) !important;
			color: var(--otodb-color-content-fainter);
		}
		&:hover {
			background-color: var(--otodb-color-bg-fainter);
		}
		&:active {
			background-color: var(--otodb-color-bg-primary);
		}
	}

	ins {
		background-color: var(--otodb-color-ins);
	}

	del {
		background-color: var(--otodb-color-del);
	}
}
