@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-otodb-bg-color: var(--otodb-bg-color);
	--color-otodb-content-color: var(--otodb-content-color);
	--color-otodb-faint-bg: var(--otodb-faint-bg);
	--color-otodb-fainter-bg: var(--otodb-fainter-bg);
	--color-otodb-faint-content: var(--otodb-faint-content);
	--color-otodb-fainter-content: var(--otodb-fainter-content);
	--color-otodb-content-bg: var(--otodb-content-bg);
}

:root {
	--otodb-bg-color: white;
	--otodb-content-color: black;
	--otodb-faint-bg: color-mix(
		in hsl,
		color-mix(in hsl, var(--otodb-bg-color) 90%, var(--otodb-content-color)) 80%,
		transparent
	);
	--otodb-fainter-bg: color-mix(in hsl, var(--otodb-bg-color) 80%, var(--otodb-content-color));
	--otodb-faint-content: color-mix(
		in hsl,
		var(--otodb-bg-color) 12.5%,
		var(--otodb-content-color)
	);
	--otodb-fainter-content: color-mix(
		in hsl,
		var(--otodb-bg-color) 30%,
		var(--otodb-content-color)
	);
	--otodb-ins: color-mix(in hsl, var(--otodb-faint-bg) 35%, green);
	--otodb-del: color-mix(in hsl, var(--otodb-faint-bg) 35%, red);
}

@media (prefers-color-scheme: dark) {
	:root {
		--otodb-bg-color: black;
		--otodb-content-color: white;
	}
}

html {
	color: var(--otodb-content-color);
}

@layer base {
	thead {
		background-color: var(--otodb-bg-color);
	}

	tbody > tr:nth-of-type(odd) {
		background-color: var(--otodb-fainter-bg);
	}

	ul {
		@apply list-inside list-disc;
	}
	ol {
		@apply list-inside list-decimal;
	}

	hr {
		width: 100%;
		color: var(--otodb-content-color);
	}

	th,
	td {
		padding: 0.1rem 0.2rem;
		border: 1px var(--otodb-faint-bg) solid;
	}

	input[type='text'],
	input[type='password'],
	input[type='email'],
	textarea {
		background-color: color-mix(in hsl, var(--otodb-bg-color) 80%, transparent);
	}

	input[type='submit'],
	input[type='button'],
	select,
	button {
		border: 1px solid white;
		outline: none;
		background-color: var(--otodb-faint-bg);
		&:disabled {
			background-color: var(--otodb-bg-color) !important;
			color: var(--otodb-fainter-content);
		}
		&:hover {
			background-color: var(--otodb-fainter-bg);
		}
		&:active {
			background-color: var(--otodb-bg-color);
		}
	}

	ins {
		background-color: var(--otodb-ins);
	}

	del {
		background-color: var(--otodb-del);
	}
}
