@import 'tailwindcss';

:root {
	--otodb-bg-color: white;
	--otodb-content-color: black;
	--otodb-faint-bg: color-mix(in hsl, var(--otodb-bg-color) 90%, var(--otodb-content-color));
	--otodb-fainter-bg: color-mix(in hsl, var(--otodb-bg-color) 80%, var(--otodb-content-color));
	--otodb-faint-content: color-mix(
		in hsl,
		var(--otodb-bg-color) 12.5%,
		var(--otodb-content-color)
	);
	--otodb-fainter-content: color-mix(
		in hsl,
		var(--otodb-bg-color) 30%,
		var(--otodb-content-color)
	);
	--otodb-ins: color-mix(in hsl, var(--otodb-faint-bg) 35%, green);
	--otodb-del: color-mix(in hsl, var(--otodb-faint-bg) 35%, red);
}

@media (prefers-color-scheme: dark) {
	:root {
		--otodb-bg-color: black;
		--otodb-content-color: white;
	}
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	color: var(--otodb-content-color);
}

body {
	font-size: smaller;
	background-color: var(--otodb-bg-color);
}

a {
	color: var(--otodb-content-color); /* TODO: Remove */
	text-decoration: underline 1px; /* TODO: Remove */
}

hr {
	width: 100%;
	color: var(--otodb-content-color);
}

thead {
	background-color: var(--otodb-bg-color);
}

tbody > tr:nth-of-type(odd) {
	background-color: var(--otodb-fainter-bg);
}

th,
td {
	padding: 0.1rem 0.2rem;
	border: 1px var(--otodb-faint-bg) solid;
}

input[type='text'],
input[type='password'],
textarea {
	background-color: var(--otodb-bg-color);
}

input[type='submit'],
input[type='button'],
select,
button {
	border: 1px solid white;
	outline: none;
	background-color: var(--otodb-faint-bg);
	&:disabled {
		background-color: var(--otodb-bg-color) !important;
		color: var(--otodb-fainter-content);
	}
	&:hover {
		background-color: var(--otodb-fainter-bg);
	}
	&:active {
		background-color: var(--otodb-bg-color);
	}
}

.query-results {
	position: absolute;
	background-color: var(--otodb-fainter-bg);
	border: 1px var(--otodb-faint-content) solid;
	max-height: 15rem;
	overflow-y: scroll;

	> :empty {
		display: none;
	}
}

ins {
	background-color: var(--otodb-ins);
}

del {
	background-color: var(--otodb-del);
}

@layer base {
	ul {
		@apply list-inside list-disc;
	}

	ol {
		@apply list-inside list-decimal;
	}
}
