.theme-default {
	/* TODO until we have art for default */
}

.theme-aniki {
	background-image: url('/aniki-bg.png'), url('/aniki-right.png');
	background-position:
		left top,
		right top;
	background-repeat: no-repeat, no-repeat;
}
