{% extends "base.html" %}
{% block page_title %}Adding to {{ list.name }}{% endblock page_title %}

{% block content %}
<section>
    <h1>Editing list "{{ list.name }}"</h1>
    {% if error %}
    Error: {{ error }}
    {% endif %}
    <div x-data="{
      works: [
        {% for item in list.poolitem_set.all %}
        {id: {{ item.work.id }}, title: `{{ item.work.title }}`, desc: `{{ item.description }}`, uuid: {{ forloop.counter0 }} },
        {% endfor %}
      ],
      counter: {{ list.poolitem_set.all|length }}
    }"> 
    <form target="_self" method="post">
      {% csrf_token %}
      <table>
      {{ list_form }}
    </table>
      <input type="number" hidden name="size" :value="works.length">
      <button type="button" @click="works.push({id: -1, title: '', desc:'', uuid: counter++})">Add a new work</button>
      <table>
        <thead><tr><th></th><th>Work</th><th>Description</th><th></th></tr></thead>
        <tbody>
          <template x-for="(w, i) in works" :key="w.uuid">
            <tr>
              <td>
                <button type="button" :disabled="i===0" @click="[works[i-1], works[i]] = [works[i], works[i-1]]">↑</button>
                <button type="button" :disabled="i===works.length-1" @click="[works[i+1], works[i]] = [works[i], works[i+1]]">↓</button></td>
              <td x-data="{ work_query: w.title, locked_in: w.title !== '' }" x-init="htmx.process($el)">
                <input type="number" :name="'work-'+i" x-model="w.id" hidden>
                <input type="text" x-model="work_query" name="query" @keydown.enter="$event.preventDefault();" placeholder="Search..." :disabled="locked_in">
                <button type="button" hx-get="{% url 'otodb:query' 'work' %}" hx-target="next div" hx-include="previous input" x-show="!locked_in" :disabled="work_query===''">Search</button>
                <div class="query-results" x-data="{ query_action: ({id, title}) => { work_query = title; w.id = id; locked_in = true; $el.innerHTML = ''; } }"></div>
                <button type="button" @click="locked_in = false;" x-show="locked_in">Change</button>
              </td>
              <td><textarea x-model="w.desc" :name="'desc-'+i" placeholder="Description..."></textarea></td>
              <td><button type="button" @click="works.splice(i, 1)">X</button></td>
            </tr>
          </template>
        </tbody>
      </table>
      <input type="submit" value="Done" :disabled="works.some(w => w.id <= 0)" />
    </form>
  </div>
</section>
{% endblock content %}
