{% extends "base.html" %}
{% block page_title %}New list{% endblock page_title %}

{% block content %}
<section>
<h1>Import list</h1>
<p>Currently accepted types of lists:</p>
<ul>
  <li>YouTube Playlists</li>
  <li>Niconico Mylists</li>
  <li>Bilibili Playlists</li>
</ul>
<form target="_self" method="post" x-data="{ submitted: false }" @submit="submitted ? $event.preventDefault() : submitted = true">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    </table>
  <input type="submit" value="Import" x-show="!submitted"/>
  <progress aria-busy="true" x-show="submitted"></progress>
</form>
</section>
{% endblock content %}
